<nav class="bg-gray-800">
  <div class="relative max-w-7xl mx-auto flex justify-between sm:px-6 lg:px-8">
    <ul class="flex space-x-8 py-6">
      <li>
        <a href="/" class="font-semibold">Dashboard</a>
      </li>
      <li>
        <a href="/signature-requests/create" class="font-semibold">Create Signature Request</a>
      </li>
    </ul>

    <form action="/logout" method="post" class="flex items-center justify-center">
      <button class="">Sign out</button>
    </form>
  </div>
</nav>